# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- data science tools
- Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. python
2. julia
3. java
4. c++

Some of the commonly used libraries used by Data Scientists include:


1. numpy
2. pandas
3. tensorflow
4. scipy
5. matplotlib

|Data Science Tools|
|------------------|
|jupyter notebook|
|rstudio|
|MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

x = 200//60

print (x)

3

## Author
mohammad naeimabadi